body {
    margin:0;
    font-family: 'Lato', sans-serif;
}
.upper-method div a {

    text-decoration:none;
    font-weight:bold;
    color: #000;
    padding: 0 10px 10px 10px;
    
    
}

.upper-method div {
    display: inline-block;
    align-items:right;
}

.upper-method{
    margin-left: 70%;
    padding-bottom:100px;
    padding-top:30px;

}
h1 {
    font-size: 50px;
}

span {
    color:tomato;
}

.a-color {
    text-decoration: none;
    padding: 10px 15px;
    color:white;
    background-image:linear-gradient(45deg,black,blue);
}

.div-half {
    width: 40%;
    float: left;
    margin-left:4%;
    padding-left:2%;

}

img {
    width:100%;
}

.height {
    height: 500px;
    padding-bottom:200px;
}

#icon {
    height:20px;
    width: 30px;
}

.a-color-1 {
    text-decoration: none;
    padding: 10px 15px;
    color:white;
    background-image:linear-gradient(45deg,black,blue);  
}
.part-3-head {
    text-align:center;
}

.div-third {
    width: 20%;
    float: left;
    margin-left: 6%;
    padding-left:5%;
}

h4 {
    text-align:center;
}

.div-third {
    box-shadow:20px 30px;
    height:70%;
    border-radius:10px;
    background-color:white;
}

.div-third img {
    position:center;
}

.sec {
    
    background-image:url("paper.jpg");
    padding-top:5%;
    background-repeat:no-repeat;
    background-size:100%;
}

.div-third-skill {
    width: 20%;
    float: left;
    margin-left: 6%;
    padding-left:5%;
}

.div-third-skill {
    box-shadow:20px 30px;
    height:80%;
    border-radius:10px;
    background-color:white;
}

#clear-sec {
    padding-top:0%;
}


h2 {
    color: gray;
}

.big {
    font-size:40px;
    text-align:center;
}

.height1 p img {
    height:30px;
    width:30px;
    padding-left:10px;
    
}

.height1 div h2{
    text-align:center;
}


.height1 div p{
    text-align:center;
}

footer {
    font-size:20px;
    color:white;
    text-align: center;
    background-image:linear-gradient(45deg,black,blue);
    border-radius:15px;
    padding:5px 0;
    margin-bottom:15px;
}